.dashboard-date-picker {
    top: 5px;
    text-align: center;
    margin-left: 1em;
}

.dashboard-date-picker:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dashboard-date-selected {
    margin-top: 0.5em;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}
.dashboard-date-picker > div {
    padding: 3px 8px;
}

.dashboard-date-picker > div > div {
    display: none;
}

.fecha-animada {
    animation-fill-mode: forwards;
}

.fecha-animada.animar {
    animation: parpadeo 0.8s ease forwards;
}

@keyframes parpadeo {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }
}

div.pjn-notification-details {
    margin-top: 1em;
}
div.pjn-notification {
    margin: 0.8em;
    border: 0px solid #707070;
    padding: 0.4em;
    font-size: 0.8em;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #f0fefb;
}

div.pjn-notification:nth-child(even) {
    background-color: #d8fbf0;
}

div.notif-slot {
    margin: 0.5em 0;
    border: 1px solid gray;
    padding: 0.5em 1em;
}

div.notif-slot:nth-child(even) {
    background-color: #f8f8f8;
}

div.notif-slot.pjn .expediente {
    color: gray;
}

div.notif-slot.pjn .caratula {
    font-weight: bold;
}

div.notif-slot .fecha {
    font-size: 0.9em;
    color: gray;
}

div.notif-slot .tramite {
    font-style: italic;
    font-weight: bold;
}

div.notif-body {
    background-color: #f0fefb;
    padding: 10px 13px;
    border-radius: 5px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.8s ease-out forwards;
}

div.notif-body .paragraph {
    padding-bottom: 3px;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.one-notif-error {
    color: red;
    font-style: italic;
    font-weight: bold;
}

/* SCBA, esconder QR */
.scba-qr-wrapper {
    display: none;
}

.dashboard-datepicker-wrapper {
    text-align: center;
}

.notif-slot.mev .pasoConFecha {
    font-weight: bold;
}
